.feature-list {
    display: flex;
    font-size: 14px;
    letter-spacing: 0.03em;
    list-style-type: none;
    padding: 0;
    margin: 0;

    &__item{
        display: flex;
        flex-direction: column;
        min-width: 270px;
        max-width: 270px;
        align-items: center;
        justify-content: center;

        &--left,
        &--middle {
            margin-right: 30px;
            margin-left: 0;
        }

        &--right {
            margin-right: 0;
            margin-left: 0;
        }
    }
}


.feature-card {
    display: flex;
    flex-direction: column;
    max-width: 270px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    background-color: $lightColor;

    &__icon--position {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    &__feature-description {
        background-color: $indexBackgroundColor;

        &__name{
            font-family: 'Roboto';
            font-style: normal;
            font-size: 14px;
            font-weight: 700;
            line-height: 1.14em;
            text-transform: uppercase;
            color: $darkTextColor;

            &--position {
                margin-top: 30px;
                margin-bottom: 10px;


        }
    }

        &__text{
            font-family: 'Roboto';
            font-style: normal;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.71;
            letter-spacing: 0.03em;
            color: $descriptionColor;
        }
    }
}