$brandColor: #2196F3;
$accentColor: #2196F3;
$lightColor: #F5F4FA;
$darkBackgroundColor: #2F303A;
$indexBackgroundColor: #FFFFFF;
$portfolioBackgroundColor:#E5E5E5;
$logoDarkColor:#000000;
$logoLightColor:#FFFFFF;
$lightTextColor:#FFFFFF;
$descriptionColor:#757575;
$contactLinkColor:rgba(255, 255, 255, 0.6);
$clientLogoColor: #AFB1B8;
$darkTextColor: #212121;
